.header {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  /* background-color: #fff; */
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo h2,
.header-logo h3 {
  font-family: "Prompt", sans-serif;
  color: #f1051d;
}

.header-logo {
  background-color: #fff;
  padding: 0 10px;
  border-radius: 5px;
}

.header-logo h2 {
  font-size: 35px;
}

.header-logo h3 {
  margin-top: -15px;
}

.burger-nav-bar {
  position: absolute;
  right: -100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: center;
  padding-top: 8em;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  transition: 0.5s;
  z-index: 5;
  top: 0;
}

.burger-nav-bar_active {
  right: 0;
}

.burger-nav-bar-link {
  color: #f1051d;
  font-size: 25px;
  font-weight: 500;
}

.burger-btn {
  position: absolute;
  right: 95px;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.burger-btn-line {
  position: relative;
  display: block;
  height: 3px;
  width: 30px;
  background-color: #f1051d;
  transition: 0.5s;
}

.burger-btn-line::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  height: 3px;
  width: 30px;
  background-color: #f1051d;
}

.burger-btn-line::before {
  content: '';
  position: absolute;
  top: -10px;
  display: block;
  height: 3px;
  width: 30px;
  background-color: #f1051d;
}

.burger-btn-line_active {
  transform: rotate(45deg);
}

.burger-btn-line_active::before {
  transform: rotate(90deg);
  top: 0;
}

.burger-btn-line_active::after {
  top: 0;
}

@media (max-width: 600px) {
  .burger-btn {
    right: 20px;
  }
  .main-title-page h3 {
    font-size: 40px;
  }
}