.main-info-bg {
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.main-info-bg:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}

.main-title-page {
  max-width: 850px;
  display: flex;
  gap: 2em;
  flex-direction: column;
  margin: 14em auto 0 auto;
  z-index: 0;
  position: relative;
}

.main-title-page h3 {
  font-family: "Oswald", sans-serif;
  font-size: 62px;
  line-height: 1.177em;
  color: #fff;
  text-transform: uppercase;
}

.main-title-page p {
  color: #fff;
  font-weight: 500;
}

.main-title-page a {
  box-sizing: border-box;
  transition: 0.3s;
  width: 200px;
  height: 40px;
  background: #fff;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.main-title-page a:hover {
  background: none;
  border: 3px solid #fff;
  color: #fff;
}

.home-main-about {
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-main-about-img-block {
  width: 600px;
  height: 500px;
}

.home-main-about-img-block > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.home-main-about-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-main-about-info h2 {
  font-size: 60px;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Oswald", sans-serif;
}

.home-main-about-info p {
  font-weight: 500;
  margin-bottom: 2em;
}

.home-main-links {
  display: flex;
  gap: 2em;
}

.home-main-link-item {
  border: 3px solid #000;
  border-radius: 4px;
  padding: 10px 30px;
  color: #000;
  font-weight: 700;
  transition: 0.5s;
}

.home-main-link-item:hover {
  background-color: #000;
  color: #fff;
}

.home-main-cars {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  height: 300px;
  overflow: hidden;
}

.home-main-cars-bg {
  background-color: #000;
}

.home-main-cars-item {
  width: 250px;
  height: 300px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main-cars-item h3 {
  margin-bottom: 20px;
}

.home-main-cars-title {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-main-cars-title h2 {
  font-size: 60px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  line-height: 1em;
}

.home-main-cars-title-btn-more {
  box-sizing: border-box;
  transition: 0.3s;
  width: 165px;
  padding: 0 10px;
  text-transform: uppercase;
  height: 40px;
  background: #fff;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 3px solid #fff;
  font-size: 14px;
  cursor: pointer;
}

.home-main-cars-title-btn-more:hover {
  background: none;
  color: #fff;
}

.home-main-cars-title-btn-more_active {
  background: none;
  color: #fff;
}

.home-main-cars_active {
  height: 100%;
}

.car-item-img-wrapper {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.car-item-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-main-our-adv-bg {
  padding: 3em 0;
  background-color: #fff;
}

.home-main-our-adv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.home-main-our-adv-title {
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}

.home-main-our-adv-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.home-main-our-adv-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  opacity: 0.6;
  transition: 0.3s;
}

.home-main-our-adv-item:hover {
  opacity: 1;
}

.home-main-our-adv-item h3 {
  min-width: 150px;
  font-weight: 500;
  font-size: 18px;
}

.home-main-our-adv-item img {
  width: 70px;
}

.home-main-stages-bg {
  background-color: #000;
  padding: 50px 0;
}

.home-main-stages {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

.home-main-stages-title-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 5em;
}

.home-main-stages-title-item a {
  box-sizing: border-box;
  transition: 0.3s;
  width: 180px;
  padding: 0 10px;
  text-transform: uppercase;
  height: 40px;
  background: #fff;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 3px solid #fff;
  font-size: 14px;
  cursor: pointer;
}

.home-main-stages-title-item a:hover {
  background: #000;
  color: #fff;
}

.home-main-stages-title-item h2 {
  font-size: 50px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  line-height: 1em;
}

.home-main-stages-title-item p {
  color: #fff;
}

.home-main-stages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 600px;
}

.home-main-stages-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.3s;
}

.home-main-stages-item:hover {
  opacity: 1;
}

.home-main-stages-item img {
  width: 50px;
  margin-bottom: 1em;
}

.home-main-stages-item h3 {
  color: #fff;
  margin-bottom: 1em;
}

.home-main-stages-item p {
  color: #fff;
  font-size: 12px;
  width: 200px;
}

.home-main-contact-bg {
  background-color: #fff;
}

.home-main-contact {
  padding: 40px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
}

.home-main-contact-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.home-main-contact-item {
  width: 300px;
}

.home-main-contact-item h3 {
  color: #000;
}

.home-main-contact-item p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.home-main-contact-item h2 {
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  color: #000;
}

.home-main-contact-icon-list {
  display: flex;
  gap: 1em;
}

.home-main-contact-icon-list img {
  width: 30px;
}

iframe {
  width: 100%;
}

.home-main-contact-map-item {
  width: 50%;
}

@media (max-width: 600px) {
  .main-title-page {
    margin: 6em 0 0 0;
  }
  .main-title-page h3 {
    font-size: 40px;
  }
  .home-main-about-info h2 {
    font-size: 40px;
    line-height: 1em;
    margin-bottom: 1em;
    font-family: "Oswald", sans-serif;
  }
  .home-main-link-item {
    padding: 10px 10px;
  }
  .home-main-stages-title-item {
    margin-left: 0;
  }

  .home-main-contact-map-item {
    width: 90%;
  }  
}
